body {
  height: 100%;
  background-color: #c5d5e4;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#frame {
  background-color: #8896ab;
  max-width: 50vw;
  min-width: 20em;
  word-wrap: normal;
  border: 5px solid transparent;
  border-radius: 1em;
  margin-top: 40vh;
  cursor: pointer;
  margin-bottom: 0px;
}

#copyprompt {
    cursor: pointer;
    margin-top: 0.5em;
    font-weight: bold;
}

#display {
  font-size: xx-large;
}
